[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiogoogle = "*"
pydantic = "*"
streamlink = "*"
backoff = "*"
humanfriendly = "*"
aiofiles = "*"

[dev-packages]
sanic = "*"

[requires]
python_version = "3.8"
